$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  height: 4.5em;
  background-color:black;
}
.headtext {
  font-size: 1.75em;
  font-family: Pacifico;
  color: white;
  padding-top:.50em;
  padding-left:1em;
}
.header2 {
  
  display: block;
  font-family: Open Sans Condensed;
  overflow: hidden;


}

.header2 div {
    display: block;
    width: 25%;
    background-color:white;
    float: left;
    font-size: 1.25em;
   
}

a {
  display:block;
  text-align: center;
  font-size: 1em;
  border-right:.1em solid grey;
  border-bottom:.1em solid grey;
  color: black;
  padding-top:.5em;
  padding-bottom:.5em;

}

// // .header2 div:nth-child(4)
// .logos{
//   width: 2em;
//   height: 2em;
//   background:black;
// }
.main1 {
  text-align: center;
  margin-left:1em;
  margin-right:1em;
} 
.firstimage {
  display: block;
  background: url("../images/image-home-2.jpg");
  background-size:100%;
  height:18.5em;
  margin: 2em 2.25em 2em 2.25em;
}
.hello {
  margin: 0 2em 0em 2em;
  text-align: center;
  font-family: Open Sans Condensed;
  font-weight:700;
}
.locale {
  text-align: center;
}
.para1 {
  margin-left:2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.main2{
  border-top:.08em solid grey;
  overflow: hidden;
  
}
.main2 h1{
  margin-top:.75em;

}
.types {
  margin-top: 3.5em;
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
  color: grey;
  word-spacing: 1em;
  
}

.image {
  background: url("../images/projet-example-1.png");
  background-size:100%;
  height:18.5em;
  margin: 2em 1.5em 0em 1.5em;
  background-color:grey;
  overflow: hidden;
  border: .08em solid grey;
  border-bottom:0;
  background:stretch;

}
.image:nth-child(5){
  background: url("../images/projet-example-6.jpg");
}
.image:nth-child(7){
  background: url("../images/projet-example-3.png");
}
.image:nth-child(9){
  background: url("../images/projet-example-4.png");
}
.image:nth-child(11){
  background: url("../images/projet-example-5.png");
}
.image:nth-child(13){
  background: url("../images/projet-example-9.jpg");
}
.image:nth-child(15){
  background: url("../images/projet-example-7.png");
}
.image:nth-child(17){
  background: url("../images/projet-example-8.png");
}
.image:nth-child(19){
  background: url("../images/projet-example-2.png");
}
.image:nth-child(21){
  background: url("../images/projet-example-10.png");
}
.subbox{
  display:block;
  height: 7em;
  margin: 0em 1.5em 0em 1.5em;
  border:.08em solid grey;

}
.projtitle{
  font-size: 1em;
  padding-left:.5em;
  margin-bottom: 0;
  margin-top:.25em;
  }

.logotype{
  color:grey;
  font-size:.9em;
  padding-left:.6em;
  margin-top: 0em;
  margin-bottom: .5em;
}
.sometext{
  margin-left: .7em;
  margin-right: .7em;
  padding-bottom:.7em;
  font-size: .9em;
  border-bottom:.08em solid grey;
}
.topics{
  margin-top:1em;
  font-size: .9em;
  color:grey;
  margin-left: .7em;
  display: block;

}







.footer{

  margin: 0 auto;
  height: 15em;
  text-align: center;
}
.footer img{
  width: 4em;
  height: 4em;
  
}